<p>Super Rentals Representatives would love to help you choose a destination or answer and questions you may have.</p>

<p>Contact us today:</p>

<p>
    Super Rentals HQ
    <address>
      1212 Test Address Avenue<br>
      Testington, OR 97233
    </address>
</p>

<p><a href="tel:555.555.5555">(555)555-555</a></p>

<p><a href="mailto:superrentalsrep@superrentals.com">superrentalsrep@superrentals.com</a></p>